@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
 
    <div class="col-md-3">
        <h2>Operations</h2>
        
        
        <h2>Navigate to DB</h2>  
        @using (Html.BeginForm ("Index",  
            "Home",  
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))  
        {                    
            <label for="file">Upload Image:</label>  
            <input type="file" name="file" id="file"/><br><br>  
            <input type="submit" value="Upload Image"/>  
            <br><br>  
            @ViewBag.Message  
        }
        <ul>
            <li><a href="#">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Display Area</h2>
        
    </div>
   
</div>
